<div id="graph">
</div>

<img id="profile" />
<h2 id="stock"></h2>
<span id="price"></span>
<div id="details">
<ul>
	<li>Tweets: <span id="tweets"></span></li>
	<li>Following: <span id="following"></span></li>
	<li>Followers: <span id="followers"></span></li>
</div>

<div id="buy" class="form">
<h3>Buy Stock</h3>
<label>Quantity: <input type="number" class="quantity" /></label>
<label>Unit Price: <input type="number" class="cost" step="0.01" /></label>
<input type="hidden" class="stock" />
<span class="cost"></span>
<button>bid</button>
</div>