extends layout

append scripts
	script(src='./home.js')

block content
	#instructions
		p Welcome to Tweet Street, the Stock Exchange for Twitter.

	#wrapper
		#top-10.column
			h2 Top 10 Stocks
			ul

		#trending.column
			h2 Trending
			ul