extends layout

append scripts
	script(src='./home.js')

block content
	#instructions
		p Welcome to TweetStreet, the Stock Exchange for Twitter.

	#top-10
		h2 Top 10 Stocks
		ul

	#trending
		h2 Trending
		ul