extends layout

block content
	h2 How to play Tweet Street
	p.intro Tweet Street is a fantasy stock exchange where the commodity is twitter accounts!

	p A Stock starts it's life with an <abbr>IPO</abbr> (or Initial Public Offering). This amount is generated based on their amount of followers, following and tweets. 100,000 shares are put on the market selling at the generated IPO.

	h3 Trading
	p Shares are traded through bids and asks. When you buy a share you are placing a <strong>bid</strong> at a price with a quantity. The system will attempt to find a match with another user who is selling at a price less than the bid.

	p When you sell a share you are <strong>ask</strong>ing for a certain amount per share. A trade is made when the system can find a match with a buyer who is biding more than the ask.

	p The system will try and find the best price for the buyer and seller.

	h3 Stock Prices
	p Stock price is the <em>last unit price sold</em>. The up and down arrows indicate the difference of the current price from previous closing day price.

	h3 How do I add my twitter account?
	p Enter your twitter handle in the search box above.