!!!
html
	head
		title #{title}
		link(rel='stylesheet', href='/style.css')
		link rel='shortcut icon' href='/favicon.ico'

		block scripts
			script(src='/jquery.js')
			script(src='/main.js')

	body
		#marquee: ul
		header
			#user
				if logged
					span On the floor, 
						a(href='/my-portfolio') #{user.user}
					div Available Cash: 
						span.money $#{money}
					a(href='/logout') Logout

				else
					a(href='/login') Login
					a(href='/register') Register

			h1
				a(href='/')
					span Tweet Street
			nav: ul
				li: a(href='/instructions') Instructions

				if logged
					li: a(href='/my-portfolio') Portfolio

				li: a(href='/top') Top Traders

				li: a(href='/earn-money') Earn Money!

				li: a(href='http://twitter.com/louisstow') Follow Me
				
			#search
				input(type='text',placeholder='@')
				button search

		#message
		#main
			block content

	div.clearer
	footer
		div Tweet Street - 
			a(href='http://twitter.com/louisstow') by Louis Stowasser
