extends layout

block content
	#register.form
		label Username
			input.name(type='text')
		label Password
			input.pass(type='password')
		label Email
			input.email(type='text')
		label Twitter
			input.twitter(type='text')

		button Register