@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body, html { 
	padding: 0; 
	margin: 0; 
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #3E75F7;
}

h1, h2, h3, h4 {
	font-family: 'Archivo Narrow', sans-serif;
}

.green { color: green; }
.red { color: red; }
.intro { font-size: 20px }

#marquee { 
	border-bottom: 1px solid #999; 
	height: 25px; 
	font-size: 14px;
	overflow: hidden;

	position: relative;
	z-index: 1000;
}

#marquee ul { 
	list-style: none; 
	padding: 2px 0 0 0; 
	margin: 0 15px 0 0; 
	display: inline-block;
	white-space: nowrap;
	position: absolute;
	left: 0;
}

#marquee li { 
	margin-right: 10px; 
	border-right: 3px double #ccc; 
	padding-right: 10px;
	display: inline;
}

#marquee li img { width: 16px; height: 16px; vertical-align: sub }

#marquee li a { text-decoration: none; font-weight: bold }

#user {
	float: right;
	line-height: 25px;
	text-align: right;
}

#user a {
	margin-left: 10px;
}

#user .money {
	font-weight: 700;
}

button {
	clear: both;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #444;
	font-size: 14px;
	padding: 5px 10px;
	text-shadow: 0px 1px white;
	background: #F7F7F7;
	background: -moz-linear-gradient(top, #F7F7F7 0%, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#DBDBDB));
	background: -webkit-linear-gradient(top, #F7F7F7 0%,#DBDBDB 100%);
	background: -o-linear-gradient(top, #F7F7F7 0%,#DBDBDB 100%);
	background: -ms-linear-gradient(top, #F7F7F7 0%,#DBDBDB 100%);
	background: linear-gradient(to bottom, #F7F7F7 0%,#DBDBDB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dbdbdb',GradientType=0 );
}

input {
	padding: 5px;
	font-size: 14px;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 3px 1px #eee;
}

.form {
	width: 300px;
}

header { 
	padding: 10px 50px;
	box-shadow: 1px 0 5px 1px #EEE;
	border-bottom: 1px solid #EEE;
}

header h1 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
	padding: 0;
	margin: 0 0 5px 0;
}

header h1 a { color: #3E75F7; }

nav {
	margin-bottom: 5px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}

nav li {
	display: inline;
}

nav li a {
	margin-right: 15px;
}

label {
	display: block;
	clear: both;
	line-height: 30px;
}

label input {
	margin-left: 10px;
	float: right;
}

.form button {
	float: right;
}

#wrapper { text-align: center; }

.column {
	margin-right: 20px;
	text-align: left;
	display: inline-block;
}

.column ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.column ol {
	margin: 0 0 0 25px;
	padding: 0;
}

.column ol span {
	padding-left: 15px;
}

.column li {
	margin: 5px 0;
}

.column li img {
	vertical-align: middle;
	width: 32px;
	height: 32px;
}

.column li span {
	margin: 0 5px;
	font-size: 14px;
}

#main {
	padding: 10px 50px;
}

#stock .money {
	margin-left: 15px;
	color: green;
}

#stock h2 {
	font-size: 28px;
	margin-top: 0;
}

#stock h2 img { 
	position: relative;
	top: 12px;
	margin-right: 10px
}

#instructions {
	text-align: center;
	font-size: 26px;
}

#buy {
	margin-top: 90px;
}

#message {
	text-align: center;
	font-weight: 600;
	padding: 10px;
	color: #444;
}

#graph {
	width: 500px;
	height: 300px;
	float: left;
	margin-right: 20px;
	border: 1px solid #eee;
}

#graph input {
	padding: 2px;
	font-size: 12px;
	margin-top: -3px;
}

#graph strong {
	text-align: center;
	display: block;
	color: #aaa;
	margin-top: 120px;
}

#info {
	float: left;
}

#details dt {
	float: left;
	font-weight: 700;
}

#details dd {
	text-align: right; 
	float: left;
	margin: 0 15px 0 15px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

#main table tr:nth-child(odd) {
	background: #eee;
}

#main table tr:hover {
	background: #DEECFF;
}

#main table tr.total {
	background: #fff;
	font-weight: 600;
	font-size: 14px;
	border-top: 4px double #CCC;
}

#main table tr.total td {
	border: 0;
}

#main table {
	border-collapse: collapse;
	padding: 0;
}

#main td, #main th {
	padding: 5px 10px;
	border-right: 1px dashed #CCC;
}

#main th {
	background: #fff;
	text-align: left;
	border-bottom: 1px solid #aaa;
	font-size: 14px;
}

#main td:first-child {
	color: #666;
}

#main td:last-child, #main th:last-child {
	border-right: 0;
}

#main td.total, #main td.diff {
	font-weight: 600;
}

#main table img {
	vertical-align: middle;
	margin-right: 5px;
	width: 32px;
	height: 32px;
}

#cost {
	line-height: 35px;
	color: red;
}

table input.quantity {
	width: 50px;
	margin-right: 5px;
}

table input.cost {
	width: 75px;
}

footer {
	clear: both;
	padding: 20px;
	text-align: center;
	background: #eee;
	border-top: 1px solid #CCC;
	color: #444;
	margin-top: 20px;
}

.clearer { clear: both; }
